@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;

}
body {
    font-family: 'Roboto', 'Sens-serif';
}

.header-icons {
    color: rgb(96 96 96);
}
.header {
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}
.header-left{
    display: flex;
    align-items: center;
}
.header-search {
    display: flex;
    justify-content: space-between;
    
}
.youtube-logo {
    width: 10px;
    margin-left: 15px;
}
.header i{
    padding: 0px 7px;
    cursor: pointer;
}
.header-search form{
    border: 1px solid #ddd;
    
    margin: 0;
    padding: 0%;
    display: flex;
     

}
.header-search input {
    width: 500px;
    padding: 10px;
    margin: 0;
    border-radius: 0;
    border: none;
}
.header-search button{
    padding: 0;
    margin: 0;
    height: 100%;
    border: none;
}
.header-search .audio {
    border: 1px solid #ddd;
    border-radius: 100%;
    
    margin-left: 20px;
    padding: 2%;
}
 .mainbody {
    /* height: calc(100vh - 70px) ; */
    display: flex;
    
 }
 .sidebar {
    height:100%;
    width: 230PX;
    background-color: white;
    /* overflow: scroll; */
 }
 .sidebar-categories{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 15px;
    margin-top: 15px;


 }
 .sidebar-cat{
    display: flex;
    align-items: center;
    padding: 12px 25px;

 }
 .sidebar-cat span{
    margin-left: 15px;
 }
 .sidebar-cat:hover{
    background: #e5e5e5;
    cursor: pointer;
 }
 .sidebar::-webkit-scrollbar{
   display: none ;
 }
 hr{
    height: 1px;
    background-color: #e5e5e5;
    border: none;
   


 }
 .video {
    display: flex;
    background-color: white;
    /* padding-right: 10px; */
    padding-top: 5px;
    flex-direction: column;
    /* height: auto */
    width: 24%;
   

  }
 .logo img{
  height: 30px;
   border-radius: 100px ;
  
 }
 .video-detail{
    display: flex;
    margin-top: 10px;
  
   
 }
 .video-containner{
    
  
    height: auto;
width: 100%;
/* overflow: hidden; */
border-top: 1px solid #ddd;
display: flex;
/* overflow-y: scroll; */



flex-wrap: wrap;

 }
 .cat-btn button{


    font-size: 20px;
    padding: 10px;
    background-color: rgba(96 96 96 0.);
    border: 1px solid #ddd;
    border-radius: 30px;
    
    margin-right: 10px;
    margin-bottom: 5px;
    
 }
 .title{
    margin: 0;
    padding: 0px;
    width: 70%;
 }

 .video video {
    width: 100%;
  }
  .video {
    margin: 0 15px 0 0;
  }
  h3 {
    font-size: 20px;
  }
  
.style-scope.yt-icon {
    width: 30px !important;
  }
 





